HELP.md
# Ignorar diretórios de construção, exceto os relatórios de teste
target/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/test/**/target/**  # Permitir a adição de relatórios dentro do diretório de teste

# Remover outras regras que podem estar ignorando relatórios
# Exemplo de uma regra que poderia ser ajustada ou removida:
# build/
# !**/src/main/**/build/
# !**/src/test/**/build/  # Permitir a adição de relatórios dentro do diretório de teste


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
